@import "~sass-bem-mixins/index.scss";
@import "partials/variables.scss";

@import "~bootstrap/scss/bootstrap.scss";

// override some bootstrap defaults
@import "partials/override.scss";

// layout
@import "partials/layout.scss";
@import "partials/navbar.scss";

// components
@import "partials/conversation.scss";
@import "partials/message.scss";

@import url("https://use.fontawesome.com/releases/v5.0.13/css/all.css");

html, body {
	font-size: $font-size-base;
	line-height: $font-size-base;
	overflow: hidden;
}

#app {
	width: 100wh;
	height: 100vh;
}

div {
	box-sizing: border-box;
}

.section {
	margin: 4rem auto;
}

.pointer {
	cursor: pointer;
}