@include block(composer) {

	.input-group {
		border: none;
	}

	@include element(textarea) {
		border: none;
		resize: none;
	}
}

@include block(message) {

	@include element(bubble) {
		background: $gray-200;
		max-width: 75%;
	}

	@include element(meta) {
		line-height: 1rem;
		margin: auto 2.5rem;

		small {
			font-size: .5rem;
		}
	}

	@include element(avatar) {
		width: 2rem;
		height: 2rem;
		img {
			width: 100%;
		}
	}
}
