@include block(composer) {

	.input-group {
		border: none;
	}

	@include element(textarea) {
		border: none;
		resize: none;
	}
}

@include block(message) {

	background: $gray-200;
	border-radius: .5rem;
	padding: .5rem 1rem;

	@include element(textarea) {
		border: none;
		resize: none;
	}
}
